# Node
node_modules/
npm-debug.log
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/

# Build
dist/
build/
*.spec
DexTraderV2_Distribution*/
database/trade_confirmation/*
database/trade_results/*
database/trade_logs/*
database/order_table.csv
database/wallet_database.csv
database/generated_orders.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
DexTraderV2_logs/

# OS
.DS_Store
Thumbs.db