# Data Processing
pandas==2.1.4
numpy==1.26.4
# Web3 and Blockchain
web3==6.20.3
eth-account==0.11.3
eth-utils==4.1.1
eth-typing==4.4.0

# HTTP and API
requests==2.32.3
aiohttp==3.8.4
httpx==0.28.1
websockets==10.4

# Environment
python-dotenv==0.19.0

# Development Tools
PyInstaller==6.11.1

# Crypto Dependencies
bitarray==3.0.0
parsimonious==0.10.0
varint==1.0.2
pytz==2024.1

# Google Cloud
google-cloud-secret-manager==2.16.4
google-cloud-core==2.3.3
google-auth==2.27.0